<!DOCTYPE html>
<html>
    <head>
        <title>HỆ THỐNG QUẢN LÝ</title>
        <link rel="stylesheet" href="css/style.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src='https://www.gstatic.com/firebasejs/5.9.2/firebase.js'></script>
        <script>
        // Initialize Firebase
        var config = {
            apiKey: 'AIzaSyCADhyseFX4AWG5N1yocnRFkpA-hi1ekXs',
            authDomain: 'knowledgequizapp.firebaseapp.com',
            databaseURL: 'https://knowledgequizapp.firebaseio.com',
            projectId: 'knowledgequizapp',
            storageBucket: 'knowledgequizapp.appspot.com',
            messagingSenderId: '774645176069'
        };
        firebase.initializeApp(config);
        
        </script> 
        <script src="js/firebaseAuth.js"></script>
        <script src = "js/firebaseApp.js"></script>
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            $(document).ready(() => {
                const database = firebase.database();
                database.ref('Users/').on('value', (snapshot) => {
                    const allUsers = snapshot.val();
                    console.log('Users/ changed:', allUsers);
                    if (allUsers) {
                    $('#status').html(''); // clear the HTML
                    $('#status').append('List of users:');
                    Object.keys(allUsers).forEach((name) => {
                        $('#status').append('<li>' + name + ' ' + allUsers[name].email + ' ' + allUsers[name].password + '</li>');
                    });
                    }
                });

                $('#allUsersButton').click(() => {
                    database.ref('Users/').once('value', (snapshot) => {
                    const data = snapshot.val();
                    console.log('You received some data!', data);
                    $('#status').html('All users: ' + Object.keys(data));
                    });
                });
                
                // $('#insertButtonQuestion').click(() =>{
                //     const name = $('#insertId').val();
                //     database.ref('Questions/' + name).set({
                //         AnswerA: $('#insertA').val(),
                //         AnswerB: $('#insertB').val(),
                //         AnswerC: $('#insertC').val(),
                //         AnswerD: $('#insertD').val(),
                //         CategoryId: $('#insertCategoryId').val(),
                //         IsImageQuestion: $('#insertIsImageQuestion').val(),
                //         Question: $('#insertQuestion').val(),
                //         CorrectAnswer: 
                //     })
                // })

                $('#insertButton').click(() =>{
                    const name = $('#insertNameBox').val();
                    database.ref('Users/' + name).set({
                        email: $('#insertEmailBox').val(),
                        password: $('#insertPassBox').val(),
                        userName: $('#insertNameBox').val()
                    })
                })
                $('#deleteButton').click(() =>{
                    const name = $('#deleteNameBox').val()
                    database.ref('Users/'+ name).remove()
                })
                
                $('#deleteQuestion').click(() =>{
                    restaurantsRef.once('value', function(snapshot){
                    var data = snapshot.val()
                    })
                })

                $(document).ajaxError(() =>{
                    $('#status').html('Error: unknown ajaxError');
                })
            })
        </script>
        <style> 
            input[type=text] {
                width: 200px;
                padding: 5px 5px;
                margin: 0px 0;
                box-sizing: border-box;
            }
        </style>     
    </head>
    
    <body>
            <h3 id="google-displayName"></h3>
            <img id="google-pic" src="" width="50px" height="50px" />
            <p id="google-email"></p>
            <button 
                class="btn btn-primary"
                id="google-signin" 
                onclick={signInWithGoogle()}>
                Sign In
            </button>
            <button 
                class="btn btn-"
                id="signout" 
                onclick={signOut()}
                style="display: none; visibility: hidden;">
                Sign Out
            </button>

        <h1> <center>QUẢN LÝ</center></h1>

        <hr>
        <br>
        <br>
        <div id="menu">
            <ul>
                <li><a href="trangchu.html">Trang chủ</a></li> 
                <li><a >Thể loại</a>
                    <ul class="sub-menu">
                        <li><a href="themtheloai.html" >Thêm</a></li>
                        <li><a href="xoatheloai.html" >Xóa</a></li>
                    </ul>
                </li>
                <li><a >Câu hỏi</a>
                    <ul class="sub-menu">
                        <li><a href="themcauhoi.html" >Thêm</a></li>
                        <li><a href="#" >Xóa</a></li>
                        <li><a href="dscauhoi.html">Xem tất cả câu hỏi</a></li>
                    </ul>
                </li>
                <li><a >Người dùng</a>
                    <ul class="sub-menu">
                        <li><a href="themnguoidung.html" >Thêm</a></li>
                        <li><a href="xoanguoidung.html" >Xóa</a></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        
            <table align="center">
                <td>
                        <div class="container">
                                <div class="row">
                                        <% var keys = Object.keys(questions) %>
                        
                                        <% keys.forEach(function(key) { %>
                                            <% var allUsers %> 
                                           
                                            <% if (questions[key].votes) { %>
                                                <% allUsers = Object.keys(questions[key].votes) %>
                                            <% } else { %>
                                            <%  allUsers = [] %>
                                            <% } %>                    
                                            
                                            <div class="col s6 m6 l6">
                                              <div class="card blue-grey darken-1">
                                                <div class="card-content white-text">
                                                    <p> Câu hỏi: <span class="card-title"><%= questions[key].Question %></span></p>
                                                    <p> Đáp án A:<span class="card-title"><%= questions[key].AnswerA %></span></p>
                                                    <p> Đáp án B:<span class="card-title"><%= questions[key].AnswerB %></span></p>
                                                    <p> Đáp án C:<span class="card-title"><%= questions[key].AnswerC %></span></p>
                                                    <p> Đáp án D:<span class="card-title"><%= questions[key].AnswerD %></span></p>
                                                    <p> ID thể loại:<span class="card-title"><%= questions[key].CategoryId %></span></p>
                                                    <p> Đáp án đúng:<span class="card-title"><%= questions[key].CorrectAnswer %></span></p>
                                                    <p> Câu hỏi ảnh:<span class="card-title"><%= questions[key].IsImageQuestion %></span></p>
                                                </div>
                                                
                                                <div class="card-action">
                                                        <button id="deleteButton"> Xóa</button>
                                                </div>
                                                <hr>
                                              </div>
                                            </div>             
                                        <% }) %>
                                    </div>
                        </div>
                </td>
            </table>
            
            
            <script src = "js/firebaseApp.js"></script>
        </body>
</html>